<!DOCTYPE html>
<html>
<head>
    <title>Hello Friend!Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <p>My name's @Model.GetName()</p>
    <p>I am @Model.GetAdjOne() and I like to @Model.GetVerbOne().</p>
    <p>When @Model.GetNounOne() @Model.GetVerbTwo() @Model.GetNounTwo(),</p>
    <p>I like to @Model.GetVerbThree() @Model.GetNounThree() @Model.GetAdverb().</p>
</body>
</html>
